html {
    font-family: 'Dosis', sans-serif;
    background-color: black;
    color: black;
    text-align: center;
}

nav {
    background-color: purple;
    width: auto;
    height: 50px;
    color: black;
}

.alienOptions {
    margin-left: auto;
    margin-right: auto;
}

#side1 {
    padding-left: 20px;
    float: left;
    margin: 5px;
    color: greenyellow;
}

#side2 {
    padding-right: 20px;
    float: right;
    margin: 5px;
    color: greenyellow;
}

h1 {
    font-size: 35px;
    padding-top: 70px;
}

main {
    border: 15px solid purple;
    width: 850px;
    padding: auto;
    margin: 50px auto;
    align-items: center;
}
.gradientBG {
    background: linear-gradient(purple, lightblue, honeydew);
}

body {
    background-image: url("galaxy_background.gif");
    height: 150vh;
    padding:0;
    margin:0;
    background-repeat: repeat;
    /* background-attachment: fixed; */
   }

   ul li a {
    display: block;
    background-color: purple;
    float: center;
    width: 150px;
    text-align: center;
    padding: 10px 10px;
    margin: 20px;
    text-decoration: none;
    color: greenyellow;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  ul {
    margin: -30px;
    padding-left: 650px;
    padding-top: 0px;
    padding-right: 650px;
    list-style-type: none;
    position: center;
  }

  #spaceship {
    margin: -100px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  footer {
    position: sticky;
}

