html {
    font-family: 'Dosis', sans-serif;
    background-color: black;
    color: black;
    text-align: center;
}

/* NAV */
nav {
    background-color: purple;
    width: auto;
    height: 50px;
    color: honeydew;
}

#leftAlign {
    padding-left: 20px;
    float: left;
    color: honeydew;
    padding: 15px;
}

#rightAlign {
    padding-right: 20px;
    float: right;
    color: honeydew;
    padding: 15px;
}

#characterNav {
    margin: auto;
    text-align: center;
    display: inline-block;
}

#start {
    font-size: 25px;
    width: 400px;
}

ul li a {
    display: block;
    background-color: purple;
    float: center;
    width: auto;
    text-align: center;
    padding: 10px 10px;
    margin: 20px;
    text-decoration: none;
    color: honeydew;

    /* Curve Edges */
    border-radius: 25px;
  }

ul {
    list-style-type: none;
    position: center;
}


/* BLAH */
.alienOptions {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 35px;
    font-style: italic;
}

main {
    border: 15px solid purple;
    width: 850px;
    padding: 50px;
    margin: 50px auto;
    align-items: center;
    box-shadow: 0 0 70px honeydew;
    border-radius: 50px;
}

.gradientBG {
    background: linear-gradient(purple, lightblue, honeydew);
}

body {
    background-image: url("galaxy_background.gif");
    height: 185vh;
    padding: 0;
    margin: 0;
    background-repeat: repeat;
    /* background-attachment: fixed; */
   }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#rocketShip {
    padding: 25px;
  }

  footer {
    position: sticky;
}

.button{
    background-color: purple;
    width: auto;
    text-align: center;
    padding: 10px 10px;
    margin: 20px;
    text-decoration: none;
    color: honeydew;

    /* Curve Edges */
    border-radius: 25px;
    border: none;
}
