html {
    background-color: black;
    color: black;
    text-align: center;
}

* {
    font-family: 'Dosis', sans-serif;
}

.center {
    text-align: center;
}

/* NAV */
.navLink:hover {
    background-color: rgba(176, 38, 176, 0.671);
    border-radius: 25px;

}

nav {
    background-color: purple;
    width: auto;
    height: 50px;
    color: honeydew;
}

#leftAlign {
    padding-left: 20px;
    float: left;
    color: honeydew;
    padding: 15px;
    text-decoration: none;
}

#rightAlign {
    padding-right: 20px;
    float: right;
    color: honeydew;
    padding: 15px;
    text-decoration: none;
}

#characterNav {
    margin: auto;
    text-align: center;
    display: inline-block;
}

#start,
#submit {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#start {
    font-size: 25px;
    /* width: 400px; */
    margin-left:auto;
    margin-right:auto;
}

#submit {
    font-size: 30px;
    width: 380px;
}

ul li a {
    display: block;
    background-color: purple;
    float: center;
    width: auto;
    text-align: center;
    padding: 10px 10px;
    margin: 20px;
    text-decoration: none;
    color: honeydew;

    /* Curve Edges */
    border-radius: 25px;
}

ul {
    list-style-type: none;
    position: center;
}


/* BLAH */
h1 {
    font-size: 35px;
    font-style: italic;
}

main {
    border: 15px solid purple;
    width: 850px;
    padding: 50px;
    margin: 50px auto;
    align-items: center;
    box-shadow: 0 0 70px honeydew;
    border-radius: 50px;
}

.gradientBG {
    background: linear-gradient(purple, lightblue, honeydew);
}

body {
    background-image: url("galaxy_background.gif");
    height: 185vh;
    padding: 0;
    margin: 0;
    background-repeat: repeat;
    /* background-attachment: fixed; */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#rocketShip {
    padding: 25px;
}

footer {
    position: sticky;
}


.button {
    background-color: purple;
    width: 200px;
    
    text-align: center;
    padding: 10px 10px;
    margin: 20px;
    text-decoration: none;
    color: honeydew;

    /* Curve Edges */
    border-radius: 25px;
    border: none;
}

#create{
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    background-color: rgba(128, 0, 128, 0.352);
}

#formButton {
    width: 200px;
}

#startButton {
    height: 50px;
    font-size: 30px;
    width: 300px;
}

/* Alien Options */
.alienOptions {
    margin-left: auto;
    margin-right: auto;
}

.alienOptions th {
    padding-top: 40px;
    text-align: center;
}

.alienOptions th, div {
    font-size: 20px;
    padding-bottom: 10px;
}

#alienName {
    height: 35px;
    border-radius: 25px;
    padding-left: 10px;
    text-align: center;
}

#submit {
    font-size: 20px;
}

.alienOptions div img:hover {
    background-color: rgba(128, 0, 128, 0.352);
    border-radius: 25px;

}

.textInput {
    text-align: center;
}

input[type=text],
input[type=password] {
    font-family: 'Dosis', sans-serif;
    border-radius: 10px;
    min-height: 25px;
    border-style: none;
    min-width: 50%;
}

#gameButton {
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;

}

.gameCells {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    padding: 20px;
    text-align: left;
}

.gameCells:hover {
    background-color: rgba(128, 0, 128, 0.352);
    border-radius: 15px;
}

#goodbyeMsg{
    font-size:30px;
    font-family: 'Dosis', sans-serif;
    font-style:italic;
    font-weight:bold;
}

#recap{
    font-family: 'Dosis', sans-serif;
    font-size:20px;
}